<section id="our_partners" class="our-partners-section">
    <div class="our-partners-wrapper">
        <div class="be-our-partner">
            <div class="be-our-partner-content">
                <h1 class="common-headers"><span>Be Our Partner</span></h1>
                <p class="common-texts"><span>At <b>NEXUS ELIXIR SOLUTIONS CORP</b>, we believe that strong partnerships spark meaningful progress. Whether you're a growing business, a tech-forward organization, or a changemaker with bold ideas—we're here to collaborate.</span></p>
                <p class="common-texts"><span>We combine strategic insight, hands-on execution, and modern development practices to build solutions that make a difference. Our partners gain access to:</span></p>
                <ul class="custom-ul">
                    <li class="custom-li">
                        <p class="common-texts"><span>❖  Tailored systems built around real business needs</span></p>
                    </li>
                    <li class="custom-li">
                        <p class="common-texts"><span>❖  Transparent operations and governance support</span></p>
                    </li>
                    <li class="custom-li">
                        <p class="common-texts"><span>❖  Thoughtful branding and product positioning</span></p>
                    </li>
                    <li class="custom-li">
                        <p class="common-texts"><span>❖  Scalable platforms built with thoughtful architecture and seamless system integration</span></p>
                    </li>
                </ul>
                <p class="common-texts"><span>If you value clarity, innovation, and long-term impact, we'd love to connect.</span></p>
                <button (click)="goTo('contact_us_section')" class="become-a-partner-btn">Become a Partner</button>
            </div>
        </div>
        <div class="divider"></div>
        <div class="partners-container">
            <div class="partners-content">
                <h1 class="common-headers"><span>Our Partners</span></h1>
                <p class="common-texts"><span>We're proud to work alongside organizations that share our drive for innovation, integrity, and impact. From forward-thinking startups to established enterprises, our partners span industries and sectors—but they all have one thing in common: a commitment to building better solutions, together.</span></p>
                <p class="common-texts"><span>Each collaboration reflects our belief that great outcomes are born from trust, transparency, and shared purpose. These partnerships fuel our growth, challenge our thinking, and inspire us to keep raising the bar.</span></p>
                <p class="common-texts"><span>Here are some of the teams we've had the privilege to work with.</span></p>
                <!-- <div class="partners-block">
                    <div class="partner-details">
                        <a class="partner-link" href="https://www.creosync.net/" target="_blank">
                            <img class="partner-logo" src="./../assets/partners/creosync.png" alt="creosync"/>
                        </a>
                        <p class="partner-name">CREOSYNC</p>
                    </div>    
                    <div class="partner-details">
                        <a class="partner-link" href="https://www.byteplus.com/en" target="_blank">
                            <img class="partner-logo" src="./../assets/partners/byteplus.png" alt="byteplus"/>
                        </a>
                        <p class="partner-name">BYTEPLUS</p>
                    </div>                    
                    <div class="partner-details">
                        <a class="partner-link" href="https://projective.io/" target="_blank">
                            <img class="partner-logo" src="./../assets/partners/projective.jpg" alt="projective"/>
                        </a>
                        <p class="partner-name">PROJECTIVE</p>
                    </div>
                    <div class="partner-details">
                        <a class="partner-link" href="https://www.sgo.es/mistika-workflows/" target="_blank">
                            <img class="partner-logo" src="./../assets/partners/mistika.png" alt="mistika"/>
                        </a>
                        <p class="project-name">MISTIKA WORKFLOW</p>
                    </div>
                </div> -->
                <app-partners-carousel></app-partners-carousel>
            </div>
        </div>
    </div>
</section>