<app-inner-page [body]="body" currentPage="software-solutions">
    <ng-template #body>
        <div class="software-solutions-container">
            <h2 class="service-header">
                Software Solutions to transform <br> 
                your Business 
            </h2>
            <div class="inner-banner-container software-solutions-cc">
                <div class="inner-banner-text-container">
                    <h4 class="inner-banner-header">
                        Software Solutions
                    </h4>
                    <p class="inner-banner-text">
                        We're excited to introduce our advanced software solutions to elevate your success. As a new player in the industry, we're eager to showcase our expertise and dedication to delivering top-notch services tailored to your unique needs.
                    </p>
                </div>
                <img class="inner-banner-img" src="../../../assets/banners/inner-banner1.jpg" alt="" srcset="">
            </div>
            <div class="inner-content-container">
                <p class="nexus-statement">
                    At <b>NEXUS ELIXIR SOLUTIONS CORP.</b> we believe in the power of collaboration and the magic of first impressions. By choosing us as your IT solutions partner, you'll not only experience the highest level of professionalism and innovation but also become a valued pioneer in our journey to redefine the future of technology.
                </p>
                <div class="accordion-container">
                    <p class="accordion-header">
                        Why be our client?
                    </p>
                    <div class="accordion">
                        <div class="accordion-item">
                          <input type="checkbox" id="item1">
                          <label class="accordion-title" for="item1">Exclusive Attention</label>
                          <div class="accordion-text">
                            As our inaugural client, you'll receive unparalleled focus and personalized service, ensuring that your project is our top priority.
                          </div>
                        </div>
                        <div class="accordion-item">
                          <input type="checkbox" id="item2">
                          <label class="accordion-title" for="item2">Innovative Solutions</label>
                          <div class="accordion-text">
                            Benefit from our fresh perspective and innovative approach to solving your business challenges with advanced technology.
                          </div>
                        </div>
                        <div class="accordion-item">
                          <input type="checkbox" id="item3">
                          <label class="accordion-title" for="item3">Collaborative Partnership</label>
                          <div class="accordion-text">
                            Join us in shaping the future of software solutions by providing valuable feedback and insights that will help us grow and improve.
                          </div>
                        </div>
                        <div class="accordion-item">
                          <input type="checkbox" id="item4">
                          <label class="accordion-title" for="item4">Special Offers</label>
                          <div class="accordion-text">
                            Enjoy exclusive discounts and incentives as a token of our appreciation for being the first to trust in our capabilities.
                          </div>
                        </div>
                    </div>
                    <p class="nexus-statement">
                        We invite you to embark on this exciting journey with us and witness firsthand the transformative power of our IT solutions. Let's create something extraordinary together! <b>Contact</b> us today to learn more about how we can help your business thrive.
                    </p>
                </div>
            </div>
        </div>
    </ng-template>
</app-inner-page>